<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="../css/jmshome.css">
</head>
<body>
<div class="pwd_top">
    <div class="pwd_top">
        <img src="../img/logo.png">
    </div>
    <div>
        <span><a href="../home/index">返回首页</a></span>
    </div>
</div>
<div class="getBody">
    <div class="resetBody">
        <ul>
            <li>
                <input type="text" placeholder="邮箱/手机号" name="userName" id="login-name"></li>
            <li>
                <input type="password" placeholder="新密码" name="pwd" id="login-pwd"></li>
            <li>
                <input type="text" placeholder="验证码" name="checkCode"><input type="button"value="发送验证码">
            </li>
            <li>
                <input type="button" value="重置密码">
            </li>
        </ul>
    </div>
</div>

</body>
</html>