<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body onload="goPage(1,12)">

    <ul class="switch">
        <li class="selected">导航一</li>
        <li>导航二</li>
        <li>导航三</li>
    </ul>
    <div class="content">
        <div>内容一</div>
        <div style="display: none">内容二</div>
        <div style="display: none">内容三</div>
    </div>
    <div><input type="button" value="回到首页" onclick="returnHead()" id="head"></div>
    <div><input type="text" value="你好" id="myhead" name="hello"></div>
    <div class="t1">
        <span>默认分组</span>
        <span>默认分组1</span>
        <span>默认分组2</span>
        <span>默认分组3</span>
    </div>
    <div class="content">
        <a class="t2">编辑</a>
        <a style="display: none" class="t3">保存</a>
    </div>

    <table id="idData" width="70%">
        <tr>
            <td>user1</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user2</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user3</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user4</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user5</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user6</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user7</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user8</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user9</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user10</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user11</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user12</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user13</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user14</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user15</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user16</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user17</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user18</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user19</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user20</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user21</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user22</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user23</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user24</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user25</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user26</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user27</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user28</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user29</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
        <tr>
            <td>user30</td>
            <td>25</td>
            <td>男</td>
            <td>山西吕梁</td>
        </tr>
    </table>

    <table width="60%" align="center">
        <tr>
            <td>
                <div id="barcon" name="barcon"></div>
            </td>
        </tr>
    </table>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/angular.min.js"></script>

    <script>
        var app =

            $(function() {
                /*单机切换*/
                $(".switch  li").click(
                    function() {
                        /*每个li下属的div*/
                        var divShow = $(".content").children("div");
                        /*利用selected进行判断*/
                        if (!$(this).hasClass("selected")) {
                            /*li标签的顺序和div的顺序是对应的，获取索引*/
                            var index = $(this).index();
                            /*当前对象设置class属性*/
                            $(this).addClass("selected");
                            /*移除其他同级元素属性*/
                            $(this).siblings("li").removeClass("selected");
                            /*展示当前li对应的div内容,利用方法显示和隐藏*/
                            $(divShow[index]).show();
                            /*隐藏同级元素*/
                            $(divShow[index]).siblings("div").hide();
                        }
                    }
                )
            })

        function returnHead() {
            alert(myhead.value);
            //var loging = $('#userlogin').val();
            //alert($('#userlogin').val());
            window.location.reload();
        }

        function goPage(pno, psize) {
            var itable = document.getElementById("idData");
            var num = itable.rows.length; //表格所有行数(所有记录数)
            console.log(num);
            var totalPage = 0; //总页数
            var pageSize = psize; //每页显示行数
            //总共分几页
            if (num / pageSize > parseInt(num / pageSize)) {
                totalPage = parseInt(num / pageSize) + 1;
            } else {
                totalPage = parseInt(num / pageSize);
            }
            var currentPage = pno; //当前页数
            var startRow = (currentPage - 1) * pageSize + 1; //开始显示的行 31
            var endRow = currentPage * pageSize; //结束显示的行  40
            endRow = (endRow > num) ? num : endRow; //40
            console.log(endRow);
            //遍历显示数据实现分页
            for (var i = 1; i < (num + 1); i++) {
                var irow = itable.rows[i - 1];
                if (i >= startRow && i <= endRow) {
                    irow.style.display = "block";
                } else {
                    irow.style.display = "none";
                }
            }
            var tempStr = "共" + num + "条记录 分" + totalPage + "页 当前第" + currentPage + "页";
            if (currentPage > 1) {
                tempStr += "<a href=\"#\" onClick=\"goPage(" + (1) + "," + psize + ")\">首页</a>";
                tempStr += "<a href=\"#\" onClick=\"goPage(" + (currentPage - 1) + "," + psize + ")\"><上一页</a>"
            } else {
                tempStr += "首页";
                tempStr += "<上一页";
            }
            if (currentPage < totalPage) {
                tempStr += "<a href=\"#\" onClick=\"goPage(" + (currentPage + 1) + "," + psize + ")\">下一页></a>";
                tempStr += "<a href=\"#\" onClick=\"goPage(" + (totalPage) + "," + psize + ")\">尾页</a>";
            } else {
                tempStr += "下一页>";
                tempStr += "尾页";
            }
            document.getElementById("barcon").innerHTML = tempStr;
        }
    </script>

    <script>
        $(function() {
            //获取class为caname的元素 
            $(".t2").click(function() {
                var td = $(".t1").children("span");
                console.log(td);
                var input = "";
                for (var x = 0; x < td.length; x++) {
                    var txt = td[x].textContent;
                    input += "<input type='text' value='" + txt + "' />";
                }

                console.log(input);
                $(".t1").html($(input));
                var aShow = $(".content").children("a");
                var index = $(this).index();
                /*展示当前li对应的div内容,利用方法显示和隐藏*/
                $(aShow[index]).hide();
                /*隐藏同级元素*/
                $(aShow[index]).siblings("a").show();
                //                var txt = td.text();
                //                console.log(txt);
                //                var input = $("<input type='text' value='" + txt + "' />");
                //                console.log(input);
                //                td.html(input);
                //                input.click(function() {
                //                    return false;
                //                });
                //                //获取焦点
                //                input.trigger("focus");
                //                //文本框失去焦点后提交内容，重新变为文本
                //                input.blur(function() {
                //                    var newtxt = $(this).val();
                //                    //判断文本有没有修改
                //                    if (newtxt != txt) {
                //                        td.html(newtxt);
                //                    } else {
                //                        td.html(newtxt);
                //                    }
                //                });
            });
        })



        $(function() {
            $(".t3").click(function() {
                var td = $(".t1").children("input");
                console.log(td);
                var input = "";
                for (var x = 0; x < td.length; x++) {
                    var txt = td[x].value;
                    input += "<span>" + txt + "</span>";
                }
                console.log(input);
                $(".t1").html($(input));
                var aShow = $(".content").children("a");
                var index = $(this).index();
                /*展示当前li对应的div内容,利用方法显示和隐藏*/
                $(aShow[index]).hide();
                /*隐藏同级元素*/
                $(aShow[index]).siblings("a").show();
            });
        })
    </script>
</body></html>
